@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;

  /* display: flex; */
  /* flex-flow: column; */
}

li {
  text-decoration: none;
  margin: 2px;
  display: flex;
}

main {
  display: flex;
}

section {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.label {
  display: block;
}

label {
  display: flex;
  margin: 0.5rem;
}

select {
  flex: 1;
  margin-left: 0.5rem;
}

.selected {
  background-color: rgb(250, 75, 75);
  /* border: 2px solid rgb(250, 75, 75); */
}
